

.billing-form {
    max-width: 100%;
}

.billing {
    margin-top: 10rem !important;
}


.form-control, .form-select {
    padding: 15px;
}

.btn-name {
    font-family: var(--font-family-base);
    font-weight: var(--fw-light);
    font-size: var(--fs-sml);
}

.name-btn {
    font-family: var(--font-family-base);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-sml);
}

.bill {
    font-family: var(--font-family-heading);
    font-weight: var(--fw-normal);
    font-size: 24px;
}


.order-btn {
    background-color: var(--secondary-color);
    padding: 15px 12px;
    color: white;
    /* margin-top: 60px; */
}
/* 
.re-t {
    background-color: var(--secondary-color);
} */
/* .payment-option {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
} */

.form-check-input {
    accent-color: var(--secondary-color);
    /* background-color: var(--secondary-color); */
}

.payment-logo {
    max-height: 28px;
}

.total {
   font-weight: var(--fw-bold);
   font-family: var(--font-family-base);
   font-size: var(--fs-m);
}

.pay {
    font-family: var(--font-family-base);
    font-weight: var(--fw-light);
    font-size: var(--fs-sml);
}


@media (max-width: 768px) {
    .form-check-label {
        flex-wrap: wrap;
    }
}