.footer-note {
    background-color: #D9D9D9;
}

.copy{
    font-family: var(--font-family-base);
    font-weight: var(--fw-light);
    font-size: 13px;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .fn-logo {
        margin-bottom: 30px;
    }
    .copy {
        font-size: 0.75rem;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .bank-icons {
       margin-top: 20px;
    }
}