.footer-section {
    background-color: #1B2432;
}

.footer-stars {
    margin: auto;
}

.ff-hr {
    width: 9%;
    height: 10px;
    /* text-align: center; */
    margin: auto;
    color: white;
    right: 620px;
    position: absolute;
}

.trust-pilot {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.f-hr {
    color: white;
    margin-top: 50px;
}

/* .footer-grid {
    gap: 30px;
} */
.f-img {
    margin: auto;
}


.footer-h {
    font-family: var(--font-family-heading);
    font-weight: var(--fw-normal);
    font-size: var(--fs-m);
}
.ul-f {
    font-family: var(--font-family-base);
    font-weight: var(--fw-light);
    font-size: var(--fs-sm);
}
/* .ul-f {
    gap: 10px;
} */